<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="LeisPet_Marketing::marketing"
             title="LeisPet Marketing"
             module="LeisPet_Marketing"
             sortOrder="90"
             resource="LeisPet_Marketing::marketing"/>

        <add id="LeisPet_Marketing::campaigns"
             title="Email Campaigns"
             module="LeisPet_Marketing"
             sortOrder="10"
             parent="LeisPet_Marketing::marketing"
             action="leispet_marketing/campaign/index"
             resource="LeisPet_Marketing::campaigns"/>
    </menu>
</config>