<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="LeisPet_Blog::posts"
             title="LeisPet Blog"
             module="LeisPet_Blog"
             sortOrder="85"
             parent="Magento_Backend::content"
             action="leispet_blog/post/index"
             resource="LeisPet_Blog::posts"/>
    </menu>
</config>
